<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Recaptcha2.Enable" value="true"/>
    <add key="Recaptcha2.Url" value="https://www.google.com/recaptcha/api/siteverify"/>
    <add key="Recaptcha2.PublicKey" value="0000000000000000000000000_000000000_0000"/>
    <add key="Recaptcha2.PrivateKey" value="9999999999999999999999999_999999999_9999"/>
    <add key="GeneralSalt" value="12345678901234567890123456789012"/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
